.box-move {
    cursor: move;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    box-sizing: border-box;
  }

  .box-base {
    background-color: orange;
    width: 900px;
    height: 250px;
    margin: auto;
    border: 1px dashed black;
    box-sizing: border-box;
  }
  
  .drag-handler {
    height: 20px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed blue;
    box-sizing: border-box;
  }

  .coordinate {
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }